.mdxeditor,
.mdxeditor-select-content {
    --baseBorder: var(--color-foreground);
    --baseLine: var(--color-foreground);
    --baseBase: var(--color-background-muted);
    --baseBg: var(--color-background-muted);
    --baseBgActive: var(--dark-orange);
    --basePageBg: var(--color-background-muted);
}

.mdxeditor-toolbar {
    background-color: var(--color-background-muted);
    color: var(--color-foreground);
}

.cm-editor {
    background-color: transparent !important;
}

.cm-activeLineGutter {
    background-color: var(--color-background-muted) !important;
}

.cm-selectionBackground,
.cm-content ::selection {
    background-color: var(--color-background-muted) !important;
}

.cm-selectionMatch {
    background-color: var(--dark-orange) !important;
}

.cm-matchingBracket {
    background-color: var(--dark-orange) !important;
}

.mdxeditor {
    h1 *,
    h2 *,
    h3 *,
    h4 *,
    h5 *,
    h6 * {
        color: var(--color-primary);
    }

    strong {
        color: var(--color-primary-alt);
    }
}
