.explorer-node .document {
  padding-left: 1.3em;
}

.explorer-node-children {
  display: none;
}

.explorer-node.expanded > .explorer-node-children {
  display: block;
}

.explorer-node-children {
  padding-left: 0.5em;
}
