.explorer-node {
  display: contents;
}

.explorer-node-title {
  display: block;
  width: 100%;
  text-align: start;
  text-wrap: nowrap;
}

.explorer-node-title {
  padding-right: 0.5em;
  padding-left: calc(var(--level) * 0.5em);
}

.explorer-node.document .explorer-node-title {
  padding-left: calc((var(--level) * 0.5em) + 1.3em);
}

.explorer-node-title:hover {
  background-color: var(--color-neutral);
}

.explorer-node-children {
  display: none;
}

.explorer-node.expanded > .explorer-node-children {
  display: block;
}
