.tabber {
  display: flex;
  flex-direction: column;
}

.tab-bar {
  display: flex;
  background-color: var(--color-neutral);
}

.tab-contents {
  padding: 0.5em;
  overflow-y: auto;
  border-top: 1px solid var(--color-background);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
