.tab-handle {
  padding: 0.5em;
  background-color: var(--color-neutral);
}

.tab-handle.active {
  background-color: var(--color-background);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.tab-title {
  margin: 0 0.5em;
}

.tab-close {
  padding: 0 0.2em;
  border-radius: 0.5em;
}

.tab-close:hover {
  background-color: var(--color-neutral-alt);
}

.tab-handle.active .tab-close:hover {
  background-color: var(--color-neutral);
}

.tab-new {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
}

.tab-new:hover {
  background-color: var(--color-background);
}
