:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* color-scheme: light dark; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    color: var(--color-foreground);
    scrollbar-color: var(--color-neutral) transparent;
}

body {
    margin: 0;
    background-color: var(--color-background);
}

button {
    background-color: unset;
    border: none;
    outline: none;
    font: inherit;
    padding: 0;
    cursor: pointer;
}
